* {
  font-size: 11px;
}

body {
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 20px;
}

h1 {
  font-size: 130%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 110%;
  padding: 0;
  margin: 0;
}

.top-space {
  margin-top: 2em;
}

.bold {
  font-weight: bold;
}

.logo {
  margin-top: 10px;
  height: 90px;
}

.half {
  width: 50%;
}

.header {
  margin-bottom: 2.5em;
}

.header h1 {
  color: #A9B4B4;
}

.address {
  padding: 0;
  margin: 0;
}

.from {
  font-size: 75%;
  text-decoration: underline;
}

.base-info {
  margin-bottom: 3.5em;
}

.greetings {
  margin-bottom: 3.5em;
  margin-top: 3.5em;
}

.left {
  float: left;
}

.right {
  float: right;
}


.receipt {
  width: 100%;
  margin-top: 10em;
}

.greetings, .header, .address {
  width: 100%;
}

.left-col {
  width: 70%;
  display: box;
}

.price-table table {
  width: 100%;
}

.row-1 {
  width: 10%;
}

.row-2 {
  width: 75%;
}

.row-3 {
  width: 15%;
}

.total {
  border-top: 1px solid #000000;
  padding-top: 0.2em;
  margin-top: 1em;
}

.highlight {
  font-weight: bold;
}

.receipt-information {
  width: 75%;
}

.right-col {
  width: 25%;
  text-align: right;
  display: box;
  font-size: 75;
}

.right-col-inner {
  display: block;
  font-weight: 75%;
}

.society div {
  padding-left: 1em;
}

.clear {
  clear: both;
  min-height: 1.5em;
}

.closing {
  margin-top: 2.5em;
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.space-right {
  padding-right: 1em;
}

.right-logo {
  color: #A9B4B4;
  clear: both;
}

.right-logo img {
  float: left;
  width: 50%;
}

.right-logo h1 {
  width: 50%;
  float: right;
  text-align: left;
  color: #76807C;
}