{% extends 'checkin/base.html' %}
{% load i18n checkin_tags %}

{% block title %}{% trans "Check-in Search" %}{% endblock %}
{% block page_title %}{% trans "Check-in Search" %}{% endblock %}

{% block content %}
  <div class="checkin">
    {{ block.super }}
    {% if results %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Ticket" %}</th>
            <th>{% trans "Purchase" %}</th>
            <th>{% trans "Buyer" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>
                <dl>
                  <dt>{% trans "Ticket" %}: </dt>
                  <dd>{{ result.ticket.id }}</dd>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{{ result.ticket.user_id }}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{{ result.ticket.username }}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{{ result.ticket.email }}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{{ result.ticket.full_name }}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{{ result.ticket.display_name }}</dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>{% trans "Purchase" %}: </dt>
                  <dd>{{ result.purchase.id }}</dd>
                  <dt>{% trans "Invoice" %}: </dt>
                  <dd>{{ result.purchase.invoice_number }}</dd>
                  <dt>{% trans "Company" %}: </dt>
                  <dd>{{ result.purchase.company_name }}</dd>
                  <dt>{% trans "Name" %}: </dt>
                  <dd>{{ result.purchase.name }}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{{ result.purchase.email }}</dd>
                  <dt>
                    <a href="{% url 'checkin_purchase_detail' pk=result.purchase.id %}" target="_blank">
                      <i class="fa fa-external-link"></i> {% trans "Open purchase" %}</a></dt>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{{ result.buyer.user_id }}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{{ result.buyer.username }}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{{ result.buyer.email }}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{{ result.buyer.full_name }}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{{ result.buyer.display_name }}</dd>
                </dl>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No search results" %}</p>
    {% endif %}
  </div>
{% endblock %}
